div.auth {
  display: flex;
  justify-content: center;

  margin: 4rem 2rem;
  padding: 2rem 4rem;
  border: 1px solid #6d665b;
  height: 70vh;
}

table.auth {
  margin: 4rem auto;
  padding: 2rem 4rem;
  border: 1px solid #6d665b;
  height: 70vh;
  width: 90vw;
}

table.auth td:first-child {
  padding-right: 4rem;
}

form.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
  padding: 2rem 4rem;
  min-width: 20vw;
  max-height: 50vh;
  border: 1px solid black;
}

h3.auth {
  margin-bottom: 2rem;
}

input.auth,
button.auth {
  background-color: #2b2a33;
  color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;

  max-width: 15vw;
}

button.auth {
  margin-top: 4rem;
  cursor: pointer;
}

div.signout {
  display: flex;
  align-items: center;
  padding-left: 5.7rem;
}

button.signout {
  padding: 0.5rem 1rem;
}
