:root {
  --background-color: rgb(21, 21, 22);
  --options-background-color: rgb(34, 34, 38);
  --options-hover-color: rgb(126, 126, 138);
  --border-radius: 10px;
}

#chatUploadButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

#chatUploadButtonWrapper span {
  padding: 0.1rem;
  color: white;
  border-radius: var(--border-radius);
}

#chatUploadButtonWrapper span:hover {
  background-color: var(--options-hover-color);
}

#chatSendButtonWrapper {
  margin: 0 0.7rem;
  padding: 0.1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

#chatSendButtonWrapper:hover {
  background-color: var(--options-hover-color);
}

#previewImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1rem;
  right: 1.5rem;
  bottom: 5.8rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

#previewImageDiv[data-file='false'] {
  visibility: hidden;
}

#chatUnloadFileButton {
  padding-right: 1.5rem;
  cursor: pointer;
}

.chat-sender-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid black;
}

.chat-message-image-preview,
.chat-message-file-preview,
.chat-upload-image-preview,
.chat-upload-file-preview {
  margin-right: 0.6rem;
  border: 1px solid black;
}

.chat-message-file-preview,
.chat-upload-file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 14rem;
}

.chat-message-image-preview,
.chat-upload-image-preview {
  max-height: 14rem;
  max-width: 14rem;
}

.chat-message-image-preview,
.chat-message-file-preview {
  cursor: pointer;
}

.chat-message-time {
  min-width: 7.5rem;
}
