#chatUploadButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

#chatUploadButtonWrapper span {
  padding: 0.1rem;
  color: white;
  border-radius: var(--border-radius);
}

#chatUploadButtonWrapper span:hover {
  background-color: var(--options-hover-color);
}

#chatSendButtonWrapper {
  margin: 0 0.7rem;
  padding: 0.1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

#chatSendButtonWrapper:hover {
  background-color: var(--options-hover-color);
}

#previewImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1rem;
  right: 0rem;
  bottom: 2rem;
  color: white;
  background-color: var(--background-color);
  border-radius: 10px;
}

#previewImageDiv[data-file='false'] {
  visibility: hidden;
}

#chatUnloadFileButton {
  position: absolute;
  top: 0rem;
  right: -1rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.chat-sender-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid black;
}

.chat-message-image-preview,
.chat-message-file-preview,
.chat-upload-image-preview,
.chat-upload-file-preview {
  margin-right: 0.6rem;
}

.chat-message-file-preview {
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.chat-upload-file-preview {
  border: 1px solid white;
  border-radius: var(--border-radius);
}

.chat-message-file-preview,
.chat-upload-file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 14rem;
}

.chat-message-image-preview,
.chat-upload-image-preview {
  max-height: 14rem;
  max-width: 14rem;
}

.chat-message-image-preview,
.chat-message-file-preview {
  cursor: pointer;
}

.chat-message-time {
  display: flex;
  justify-content: flex-end;
  min-width: 9.5rem;
}
