:root {
  --sidebar-options-background-color: white;
}

#sidebar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-width: 23%;
  max-height: 100%;
}

#sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  color: white;
  background: linear-gradient(rgb(255, 255, 255) 50%, transparent 0);
  background-clip: content-box;
  background-size: 6.6666666667% 9.3333333333%;
  cursor: pointer;
}

#sidebar .header div:first-child {
  width: 7rem;
}

#sidebar h3 {
  padding: 0 1rem;
  margin: 0 0 0 1rem;
  background-color: var(--background-color);
}

#navbar {
  display: flex;
  margin: 1.5rem 0;
  justify-content: space-between;
  color: white;
}

#navbar .options a {
  color: white;
}

#all {
  background-color: rgb(21, 21, 22);
}

.contact,
.group {
  display: flex;
  margin: 0.7rem 1rem;
  height: 1.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--sidebar-options-background-color);
  direction: ltr;
}

.contact:hover,
.group:hover {
  background-color: rgb(231, 225, 225);
}

.contact-picture {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.contact-info,
.contact-add-star-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-name,
.contact-info {
  flex-grow: 1;
  font-size: 1.1rem;
}

.group-delete-button,
.contact-add-star-button,
.contact-delete-star-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.group-delete-button:hover,
.contact-add-star-button:hover,
.contact-delete-star-button:hover {
  background-color: orange;
}

.contact-status {
  width: 0.75rem;
  background-color: grey;
}

.contact-status.on {
  background-color: rgb(145, 189, 157);
}

.collapse-symbol {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin: 0 0.6rem;
  border: 0.3px solid #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 60% 5px, 5px 60%;
  cursor: pointer;
}

.content {
  overflow-y: auto;
  transition: height 0.3s ease;

  scrollbar-color: var(--options-background-color) var(--options-hover-color);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  direction: rtl;
}
.content::-webkit-scrollbar {
  width: 0.8rem;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}
.content::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
}

.footer-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 1rem 1.3rem 1rem;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--options-background-color);
  color: white;
  cursor: pointer;
}

.footer-options span {
  border-radius: var(--border-radius);
  padding: 0.1rem 1rem;
  font-size: 1.8rem;
}
.footer-options span:hover {
  background-color: rgb(126, 126, 138);
}

/* toggle symbol animation */

.collapse-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5px;
}

.collapse-symbol span {
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease;
}

.collapse-symbol span:last-child {
  top: 9.5px;
  transform: rotate(90deg) translateX(-2px);
}

.collapse-symbol.active span:first-child {
  transform: rotate(180deg);
}

.collapse-symbol.active span:last-child {
  transform: rotate(0) translateY(-2px);
}

#signOut {
  color: white;
}
