* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  height: 100vh;
}

#suggestions {
  position: absolute;
  margin-left: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  bottom: 80px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

#pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  flex-grow: 1;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  min-height: 3rem;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  min-height: 1.5rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  min-height: 1.5rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-bottom: 1px solid black;
}

#messages > li {
  display: flex;
  padding: 0.5rem 1rem;
}

chat-unread-message #messages > li div {
  display: flex;
  min-width: 3rem;
  min-height: 3rem;
  justify-content: center;
}

.chat-sender-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

#messages > li.chat-unread-message {
  background-color: bisque;
}

#messages > li div.chat-message-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  flex-grow: 1;
}

#sidebar {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  border: 1px solid black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

#userInfo {
  margin: 0 1rem;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options a {
  display: flex;
  padding: 0 1rem;
  cursor: pointer;
}

#imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
