@font-face {
  font-family: ChiKareGo2;
  src: url('../fonts/ChiKareGo2.ttf') format('truetype');
}

@font-face {
  font-family: Chicago;
  src: url('../fonts/ChicagoNormal.ttf') format('truetype');
}

:root {
  --background-color: rgb(21, 21, 22);
  --options-background-color: rgb(80, 80, 93);
  --options-hover-color: rgb(126, 126, 138);
  --success-background-color: rgb(145, 189, 157);
  --error-background-color: pink;
  --border-radius: 10px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  font-family: Chicago;
}

h2 {
  font-family: ChiKareGo2;
  font-size: 1.5rem;
}

h3 {
  font-family: ChiKareGo2;
  font-size: 1.3rem;
}

input {
  margin: 1rem 0;
  font-family: ChiKareGo2;
}

input:focus {
  outline: none;
}

button {
  font-family: ChiKareGo2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  cursor: default;
}

.container {
  display: flex;
  height: 100vh;
}

#systemMsg {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  background-color: var(--success-background-color);
  color: white;
}

#systemMsg.error {
  background-color: var(--error-background-color);
}

#systemMsg p {
  margin: 0.5rem;
}

#suggestions {
  position: absolute;
  bottom: 2rem;
  padding: 1rem;
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--options-background-color);
  color: white;
  cursor: pointer;
  visibility: hidden;
  z-index: 1;
}

#suggestions.on {
  visibility: visible;
}

#suggestions td {
  padding: 0 0.4rem;
  font-size: 1rem;
}

#main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

#main::after {
  content: '';
  background: url(/images/main.jpeg);
  background-size: 42rem;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.07;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  flex-grow: 1;
}

#pane h1 {
  margin: auto auto;
  font-size: 3rem;
  font-family: ChiKareGo2;
  cursor: default;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 9.5vh;
  width: 100%;
  padding: 0.7rem 0.25rem;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  background-color: white;
}

#inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  min-height: 2.35rem;
  position: relative;
  color: white;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

#inputWrapper span {
  font-size: 1.5rem;
  cursor: pointer;
}

#inputWrapper button {
  display: flex;
  align-items: center;
  border: none;
  color: white;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

#input {
  border: none;
  padding: 0 1rem;
  width: 93%;
  height: 100%;
  margin: 0.25rem;
  color: white;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}
#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  min-height: 1.5rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 90vh;
  overflow-y: auto;

  scrollbar-color: var(--options-background-color) var(--options-hover-color);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

#messages > li {
  display: flex;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #000 40%, rgba(255, 255, 255, 0) 20%);
  background-position: top;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

chat-unread-message #messages > li div {
  display: flex;
  min-width: 3rem;
  min-height: 3rem;
  justify-content: center;
}

#messages > li.chat-unread-message {
  background-color: bisque;
}

#messages > li div.chat-message-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  flex-grow: 1;
}

#userInfo {
  margin: 0 1rem;
  cursor: default;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options a {
  display: flex;
  padding: 0 1rem;
  cursor: pointer;
}

#imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
